/*
!/.gitignore
!/steamapps
/steamapps/*
!/steamapps/workshop
/steamapps/workshop/*
!/steamapps/workshop/content
/steamapps/workshop/content/*
!/steamapps/workshop/content/294100
/steamapps/workshop/content/294100/*

!/steamapps/workshop/content/294100/1992614103
/steamapps/workshop/content/294100/1992614103/*
!/steamapps/workshop/content/294100/1992614103/v1.3
/steamapps/workshop/content/294100/1992614103/v1.3/*
!/steamapps/workshop/content/294100/1992614103/v1.3/Defs
/steamapps/workshop/content/294100/1992614103/v1.3/Defs/*
!/steamapps/workshop/content/294100/1992614103/v1.3/Defs/ThingDefs_Races

!/steamapps/workshop/content/294100/2014838309
/steamapps/workshop/content/294100/2014838309/*
!/steamapps/workshop/content/294100/2014838309/1.3
/steamapps/workshop/content/294100/2014838309/1.3/*
!/steamapps/workshop/content/294100/2014838309/1.3/Defs
/steamapps/workshop/content/294100/2014838309/1.3/Defs/*
!/steamapps/workshop/content/294100/2014838309/1.3/Defs/ThingDefs_Races

!/steamapps/workshop/content/294100/2218407878
/steamapps/workshop/content/294100/2218407878/*
!/steamapps/workshop/content/294100/2218407878/Patches

!/steamapps/common
/steamapps/common/*
!/steamapps/common/RimWorld
/steamapps/common/RimWorld/*
!/steamapps/common/RimWorld/Data
/steamapps/common/RimWorld/Data/*
!/steamapps/common/RimWorld/Data/Royalty
/steamapps/common/RimWorld/Data/Royalty/*
!/steamapps/common/RimWorld/Data/Royalty/Defs
/steamapps/common/RimWorld/Data/Royalty/Defs/*
!/steamapps/common/RimWorld/Data/Royalty/Defs/FactionDefs
